<form method="POST" action="/signup">
	<label>Username:</label>
	<input type="text" name="username">
	<label>Password:</label>
	<input type="text" name="password">
	<input type="submit" value="SignUp">
</form>